/* Pon tu código css aqui */
body {
	margin: 0;
	padding: 0;
}

.box {
	width: 200px;
	height: 200px;
	position: absolute;
}

.rosado {
	background-color: #ee3e64;
	left: 0;
	top: 0;
}

.celeste {
	background-color: #44accf;
	right: 0;
	top: 0;
}

.verde {
	background-color: #b7d84b;
	left: 0;
	bottom: 0;
}

.amarillo {
	background-color: #F3F523;
	right: 0;
	bottom: 0;
}